<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome to Restaurant Management System!</h1>
        <p class="lead">Online Restaurant Management Solution</p>
        <p>
            IUMS presents one integrated platform that runs on your browser on your PC and tablet offering you the online web application packed with dynamic and powerful features that acts as a boon for your restaurant by helping you by refining and enhancing the overall dining experience of your guests.

            The tablet menu offers an extremely user-friendly interface presenting smooth and effortless navigation and surfing through digital menu and thereby catering your guests a wonderful experience. Restaurant Management web application supports Android Tablets giving you the freedom to offer your guests an experience to remember.
        </p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>

    </div>
</div>
